
@import url(../../styles/appVariables);


.article-detail {
    .jumbotron-header {
        background: url("../../images/post.jpg") no-repeat top;
        background-size: cover;
        height: 400px;


        h1 {
            text-align: center;
            margin-top: 150px;
            color: @jumbotron-font-color;
        }
    }

    .article-content {
        line-height: 1.7;
        font-size: 17px;
        color: @article-font-color;
    }

    .article-footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

