<div class="article-detail">
    <header class="jumbotron jumbotron-header" >
        <h1 ng-bind="vm.loader.article.title"></h1>
    </header>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="article-content" ng-bind-html="vm.$sce.trustAsHtml(vm.article.content)">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="article-footer">
                    <div class="article-tag pull-left">
                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        <a href="" class="label label-transparent">UI</a>
                        <a href="" class="label label-transparent">Angular</a>
                        <a href="" class="label label-transparent">UI</a>
                        <a href="" class="label label-transparent">Angular</a>
                        <a href="" class="label label-transparent">UI</a>
                        <a href="" class="label label-transparent">Angular</a>
                        <a href="" class="label label-transparent">UI</a>
                        <a href="" class="label label-transparent">Angular</a>
                    </div>
                    <span class="article-info pull-right">
                        <span ng-bind="vm.loader.article.author"></span>
                        <span ng-bind="vm.loader.article.create|date:'yyyy-MM-dd'"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="article-discuss">
                    <div class="panel panel-discuss">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

