<div class="tag-list">
    <header class="jumbotron jumbotron-header">
        <h1 translate>话题</h1>
    </header>

    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-tag">
                    <div class="panel-heading">
                        <span class="tag-title">A</span>
                    </div>
                    <div class="panel-body">
                        <a href="" class="label label-transparent">Angular</a>
                        <a href="" class="label label-transparent">Ajax</a>
                        <a href="" class="label label-transparent">Android</a>
                        <a href="" class="label label-transparent">App</a>
                        <a href="" class="label label-transparent">阿里巴巴</a>
                    </div>
                </div>
                <div class="panel panel-tag">
                    <div class="panel-heading">
                        <span class="tag-title">B</span>
                    </div>
                    <div class="panel-body">
                        <a href="" class="label label-transparent">Bootstrap</a>
                        <a href="" class="label label-transparent">Bower</a>
                    </div>

                </div>
                <div class="panel panel-tag">
                    <div class="panel-heading">
                        <span class="tag-title">B</span>
                    </div>
                    <div class="panel-body">
                        <a href="" class="label label-transparent">Angular</a>
                        <a href="" class="label label-transparent">Angular</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>