<div class="tag-list">
    <header class="jumbotron jumbotron-header">
        <h1 translate>话题</h1>
    </header>

    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-tag" data-ng-repeat="tags in vm.tagList">
                    <div class="panel-heading">
                        <span class="tag-title" data-ng-bind="tags.letter"></span>
                    </div>
                    <div class="panel-body">
                        <a href="" class="label label-transparent" data-ng-repeat="tag in tags.data" data-ng-bind="tag"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>