.article-list .jumbotron-header {
  background: url("../images/all.jpg") no-repeat top;
  background-size: cover;
  height: 400px;
}
.article-list .jumbotron-header h1 {
  text-align: center;
  margin-top: 140px;
  color: #fff;
}
.article-list .panel-article > .panel-heading {
  padding-bottom: 0;
}
.article-list .panel-article > .panel-heading > .article-title {
  position: relative;
  padding-left: 10px;
}
.article-list .panel-article > .panel-heading > .article-title > a {
  color: #333;
}
@media (max-width: 750px) {
  .article-list .panel-article > .panel-heading > .article-title > a {
    font-size: 20px;
  }
}
.article-list .panel-article > .panel-heading > .article-title > a:hover,
.article-list .panel-article > .panel-heading > .article-title > a:focus {
  color: #e94722;
  text-decoration: none;
}
.article-list .panel-article > .panel-heading > .article-title > a:visited {
  color: #666;
}
.article-list .panel-article > .panel-heading > .article-title > a:before {
  background-color: #ee6e50;
  content: '';
  margin-right: 4px;
  height: 90%;
  width: 2px;
  top: 5%;
  left: 0;
  position: absolute;
}
.article-list .panel-article > .panel-body {
  color: #666;
  padding-top: 8px;
  padding-bottom: 8px;
}
.article-list .panel-article > .panel-tag {
  padding: 0 15px;
  color: #999;
}
.article-list .panel-article > .panel-tag > .article-info {
  float: right;
  padding: .1em .6em;
}
.article-list .panel-article > .panel-tag > .article-info > a {
  color: #999;
}
