.article-detail .jumbotron-header {
  background: url("../images/post.jpg") no-repeat top;
  background-size: cover;
  height: 400px;
}
.article-detail .jumbotron-header h1 {
  text-align: center;
  margin-top: 150px;
  color: #fff;
}
.article-detail .article-content {
  line-height: 1.7;
  font-size: 17px;
  color: #666;
}
.article-detail .article-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
