.article-edit .jumbotron-header {
  background: url("../images/post.jpg") no-repeat top;
  background-size: cover;
  height: 400px;
}
.article-edit .jumbotron-header h1 {
  text-align: center;
  margin-top: 150px;
  color: #fff;
}
.article-edit .editor-article {
  max-height: 1000000px;
  height: 400px;
}
.article-edit .tag-select {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 0;
  margin-top: 10px;
}
.article-edit .submit-article {
  margin: 20px 10px;
}
